.cac-card {
  width: 400px;
}

#cac-add-ingredient-btn {
  margin-left: 15px;
  margin-bottom: 25px;
}

.cac-remove-ingredient-btn {
  color: grey;
  cursor: pointer;
}

.cac-area {
  padding: 5%;
}

.cac-recipe-title {
  width: 100%;
}
