<mat-card>
  <mat-card-content>
    <div style="display: flex; align-items: center;">
      <kub-chip-list [items]="chipItems" (onItemSelect)="selectView($event)"></kub-chip-list>
      <button mat-mini-fab routerLink="/create-recipe" class="kub-create-recipe-btn">
        <mat-icon>add</mat-icon>
      </button>

    </div>
    <kub-recipe-list *ngIf="currentView.id === 'recipes'" [recipes]="recipes"
                     (onRecipeSelect)="onRecipeSelected($event)"></kub-recipe-list>

    <kub-category-list *ngIf="currentView.id === 'categories'"
                       (onCategorySelect)="onCategorySelected($event)"
                       [categories]="getAllRecipeCategories()"></kub-category-list>
  </mat-card-content>
</mat-card>

