@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';

a {
  color: black;
  text-decoration: none;
}

body#cook-and-code-body {
  background-color: white;
  margin: 0px;
}

.food-planner-font-1 {
  font-family: 'Oswald';
}
