<md-toolbar class="cac-background cac-font-1 cac-header-toolbar">
  <span *ngIf="!authenticated">
    With Google: <a href="/login/google">click here</a>
  </span>
  <span *ngIf="authenticated">
    <a class="cac-font-1 logo" routerLink="/">FoodPlanner</a>

    <span class="cac-fill-remaining-space"></span>

    <a md-button class="cac-font-1 cac-header-button" routerLink="/week-planner">Plan your week</a>
    <a md-button class="cac-font-1 cac-header-button" routerLink="/recipe-overview">Recipe Management</a>
    <a md-button class="cac-font-1 cac-header-button" (click)="logout()">Logout</a>
  </span>
</md-toolbar>
<router-outlet></router-outlet>
