<mat-toolbar class="kub-background kub-font-1 kub-header-toolbar" *ngIf="isLoggedIn()">

  <button mat-button (click)="sidenav.toggle()">
    <mat-icon style="margin-right: 10px;">menu</mat-icon>
    {{'Menu.Menu' | translate}}
  </button>

  <span class="kub-fill-remaining-space"></span>

  <a class="kub-font-1 logo" routerLink="/">
    <img src="/assets/logo_without_text.png">
  </a>
</mat-toolbar>


<mat-sidenav-container class="kub-sidenav-fab-container">
  <mat-sidenav #sidenav mode="push" class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item class="kub-font-1 kub-header-button" (click)="sidenav.close()" routerLink="/week-planner">
        <mat-icon style="margin-right: 10px;">event_node</mat-icon>
        {{'Menu.Weekplanner' | translate}}
      </a>
      <a mat-list-item class="kub-font-1 kub-header-button" (click)="sidenav.close()" routerLink="/recipe-overview">
        <mat-icon style="margin-right: 10px;">restaurant_menu</mat-icon>
        {{'Menu.Recipes' | translate}}
      </a>
      <a mat-list-item class="kub-font-1 kub-header-button" (click)="logout()">
        <mat-icon style="margin-right: 10px;">pan_tool</mat-icon>
        {{'Menu.Logout' | translate}}
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <router-outlet></router-outlet>

</mat-sidenav-container>
