.logo {
  font-size: 24pt;
}

.cac-fill-remaining-space {
  flex: 1 1 auto;
}

.cac-header-button {
  font-size: 16pt;
  font-weight: bold;
}

.cac-header-toolbar {
  height: 5vh;
  justify-content: center;
}

.cac-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.cac-sidenav-fab-container .mat-sidenav-content,
.cac-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

