.front-page-image {
    background-image: url("../img/basil-1911585_1920.jpg");
    font-family: 'Lobster';
    color: white;
    height: 100vh;
    background-size: cover;
    font-size: 80pt;
    text-align: center;
}

.headline {
    padding-top: 15%;
}
