language: java
sudo: false

notifications:
  email:
    - secure: "Cl0Mo3mptm+LoKafAgFZ9bOBytowXE+a41a1RzY1e+SnP8i6qZhk7Qd2ZOW1sf4Pls4d2a9DwGc/Cg2qH2Gk5Jwy8vEPXiu1G50JYGK//Gp982nRH512NR9W08nqSIGMzpTNJRGmui/d/uBCZuAujAW4oYMS/6Zo+TmZYwqspKEz7Spy8l0eTDq0Y7GrKzxMyKVH1SUt3WBmdxukjgyDBtRwsBfbPLJNSe3AZMF4oSzbQhoGeBrKKmvuYNnXmkohz7dl1iet94aWMg3jt0hoO+MXMFTz74yfuDSm1hVjKCcHts6oLt2mK3AtmiATBsdJkyMl5r6HK2R4DJW8j3NSw7ghiYQuDnJmg85m0RiiEaIOWVUjDIBRzRUqMFSl33qKFWf0C6zS2vk5naFKLpC8CfwpclI6RChoeqTiS7e71uiJN5vEfrNjQwGPeNXwJ5vf2R9sNZC5WeTKHm+bpAkvr+Ut4v/8lgulQxE1uN6hlh7urUbJHqwmM0mU3SpWrewjupyvT1LVsIigG3cwa41t4Oa5SaeJUMd+rMxTtrCoemkgguJm9GkaRXAWy3Gpt+15mi5+bBJolhmr6x6l3jVRI836PaFjZGDVJ6jajAu65NLQ9xisyUCGJRGvFKV5HEz1/jijxxn9tj4uPZ3UE/jtWk35HQ4kvi0Hv8c1TIAH6Ac="

env:
  - SPRING_PROFILES_ACTIVE=ci

services:
  - postgresql

jdk:
- oraclejdk8

before_script:
 - psql -c 'create database kappesundbier;' -U postgres

before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

script: ./gradlew test