.kub-recipe-name-button {
  padding: 0;
  min-width: 0;
  line-height: 1 !important;
}

.kub-category-label {
  font-size: 0.8rem;
  color: grey;
}

.kub-delete-recipe-button {
  line-height: 1 !important;
  padding: 0;
  min-width: 0;
  font-size: 0.8rem;
  color: #e0e0e0;
}
