<mat-card *ngIf="recipe">
  <mat-card-header>
    <mat-card-title>
      <h1 translate>Recipe.EditRecipe</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
      <mat-form-field class="kub-full-width-input">
        <input mat-line matInput
               placeholder="{{'Common.Name' | translate}}"
               name="recipeName"
               required
               [(ngModel)]="recipe.name">
      </mat-form-field>
      <mat-form-field class="kub-full-width-input">
        <input mat-line matInput
               placeholder="{{'Recipe.NumberOfPortions' | translate}}"
               name="numberOfPortions"
               type="number"
               [(ngModel)]="recipe.numberOfPortions">
      </mat-form-field>
      <mat-form-field class="kub-full-width-input">
          <input mat-line matInput
                    name="preparationTime"
                    placeholder="{{'Recipe.PreparationTimeInMinutes' | translate}}"
                    type="number"
                    [(ngModel)]="recipe.preparationTime">
      </mat-form-field>
      <mat-form-field class="kub-full-width-input">
        <input mat-line matInput
               placeholder="{{'Recipe.CategoriesCommaSeparated' | translate}}"
               required
               name="categoriesAsCommaSeparatedString"
               [(ngModel)]="categoriesAsCommaSeparatedString">
      </mat-form-field>
      <mat-form-field class="kub-full-width-input">
        <textarea matInput
                  name="instruction"
                  placeholder="{{'Recipe.Instruction' | translate}}"
                  rows="4"
                  [(ngModel)]="recipe.instruction">
        </textarea>
      </mat-form-field>
    </form>

    <h3 translate>Recipe.Ingredients</h3>
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        <div mat-line style="display: flex;">
          <div style="display: flex; align-self: center;"> {{ingredient.amount}} {{ingredient.unitOfMeasurement}}
            {{ingredient.name}}
          </div>
          <mat-icon class="kub-icon-btn" (click)="removeIngredient(ingredient)">clear</mat-icon>
        </div>
      </mat-list-item>
    </mat-list>

    <form #ingredientForm="ngForm" (ngSubmit)="addIngredient()" onsubmit="ingredientAmount.focus()">
      <mat-form-field>
        <input matInput
               placeholder="{{'Recipe.Amount' | translate}}"
               type="number"
               name="ingredientAmount"
               [(ngModel)]="newIngredient.amount"
               required>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="{{'Recipe.MeasuringUnit' | translate}}"
               name="measuringUnit"
               [(ngModel)]="newIngredient.unitOfMeasurement"
               required>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="{{'Common.Name' | translate}}"
               name="ingredientName"
               [(ngModel)]="newIngredient.name"
               required>
      </mat-form-field>

      <button [disabled]="!ingredientForm.form.valid"
              mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
    </form>

    <h3 translate>Recipe.Pictures</h3>


    <kub-recipe-images [editMode]="true" [images]="recipe.images" (onImageDelete)="deleteImage($event)"></kub-recipe-images>

    <kub-file-upload (onFileSelect)="addImage($event)"></kub-file-upload>

    <mat-divider></mat-divider>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="!recipeForm.form.valid"
            (click)="recipeForm.ngSubmit.emit()">
      {{'Recipe.SaveRecipe' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
