.logo {
  font-size: 24pt;
}

.cac-fill-remaining-space {
  flex: 1 1 auto;
}

.cac-header-button {
  font-size: 16pt;
  font-weight: bold;
}

.cac-header-toolbar {
  height: 5vh;
  justify-content: center;
}

.login-page {
  height: 60vh;
  background-size: cover;
  text-align: center;
}
