@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h1 small {
  font-size: 1rem;
}

h2 {
  font-size: 1.6rem;
}

h2 small {
  font-size: 0.8rem;
}

h3 {
  font-size: 1.2rem;
}

h3 small {
  font-size: 0.7rem;
}

small {
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.mat-button, button.mat-raised-button {
  font-weight: normal;
}

.kub-icon-btn {
  color: grey;
  cursor: pointer;
}

.flex {
  display: flex;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
