@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

a {
  color: black;
  text-decoration: none;
}

body#kub-body {
  margin: 0;
}

.kub-font-1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.kub-background {
  background-color: white;
}

.kub-icon-btn {
  color: grey;
  cursor: pointer;
}

.front-page-text {
  color: black;
  font-size: 30pt;
  padding-top: 5%;
}

.subtitle-text {
  color: black;
  font-size: 14pt;
  padding-top: 5%;
}
