<mat-card *ngIf="recipe">
  <mat-card-content>
    <h1>
      {{recipe.name}}
      <mat-icon class="kub-icon-btn" style="margin-left: 0.5rem" (click)="switchToEditMode()">create</mat-icon>
      <mat-icon class="kub-icon-btn" style="margin-left: 0.5rem" (click)="onDelete(recipe)">delete</mat-icon>
    </h1>
    <div style="display: flex;">
      <span class="kub-category-label" *ngFor="let category of recipe.categories">{{category}}</span>
    </div>

    <h4 translate>Recipe.NumberOfPortions</h4>
    {{recipe.numberOfPortions}}

    <h4 translate>Recipe.Instruction</h4>
    <span mat-line>{{recipe.instruction}}</span>

    <h4 translate>Recipe.Ingredients</h4>
    <mat-list>
      <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.amount}} {{ingredient.unitOfMeasurement}} {{ingredient.name}}
      </mat-list-item>
    </mat-list>

    <span *ngFor="let image of recipe.images">
      <img src="{{image.imageData}}" alt="" width="100%">
    </span>

  </mat-card-content>
</mat-card>
