<mat-card *ngIf="recipe">
  <mat-card-content>
    <h1>
      {{recipe.name}}
      <mat-icon class="kub-icon-btn" style="margin-left: 0.5rem" (click)="switchToEditMode()">create</mat-icon>
      <mat-icon class="kub-icon-btn" style="margin-left: 0.5rem" (click)="onDelete(recipe)">delete</mat-icon>
    </h1>
    <div style="display: flex;" class="mb-2 ">
      <span class="kub-category-label" *ngFor="let category of recipe.categories">{{category}}</span>
    </div>

    <div *ngIf="recipe.numberOfPortions && recipe.numberOfPortions > 0" class="kub-attribute">
      <span class="kub-attribute-label">{{'Recipe.NumberOfPortions' | translate}}:</span>
      {{recipe.numberOfPortions}}
    </div>

    <div *ngIf="recipe.preparationTime && recipe.preparationTime > 0" class="kub-attribute">
      <span class="kub-attribute-label">{{'Recipe.PreparationTimeInMinutes' | translate}}</span>
      {{recipe.preparationTime}}
    </div>

    <div *ngIf="recipe.instructionSteps && recipe.instructionSteps.length > 0" class="kub-attribute">
      <span class="kub-attribute-label">{{'Recipe.Instruction' | translate}}</span>
      <mat-list>
        <mat-list-item *ngFor="let instructionStep of getInstructionStepsOrderedBySequence()">
          {{instructionStep.stepInstruction}}
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="recipe.ingredients && recipe.ingredients.length > 0" class="kub-attribute">
      <span class="kub-attribute-label">{{'Recipe.Ingredients' | translate}}</span>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.amount}} {{ingredient.unitOfMeasurement}} {{ingredient.name}}
        </mat-list-item>
      </mat-list>
    </div>

    <kub-recipe-images [editMode]="false" [images]="recipe.images"></kub-recipe-images>

  </mat-card-content>
</mat-card>
